<!DOCTYPE html>
<html>
    <%- include('../partials/head', {title: 'vip'})%>

  <body>
    <%- include('../partials/header')%>

    <main>
        <h1>Membresia Vip</h1>    
        <section class="section_vip">

            <div class="div1">
                <h5>Internauta (1 mes)</h5>
                <h6>$5</h6>
                <ul>
                    <li>Sin publicidad</li>
                    <li>Sin limite de megas</li>
                    <li>Contenido anticipado</li>
                    <li>Links directos</li>
                    <li>Peticiones</li>
                    <li>Grupo de discord</li>
                    <li>Nos ayudas a crecer</li>
                </ul>
                <button type="submit">Comprar</button>
            </div>

            <div class="div2">
                <h5>Aspirante (3 meses)</h5>
                <h6>$5</h6>
                <ul>
                    <li>Sin publicidad</li>
                    <li>Sin limite de megas</li>
                    <li>Contenido anticipado</li>
                    <li>Links directos</li>
                    <li>Peticiones</li>
                    <li>Grupo de discord</li>
                    <li>Nos ayudas a crecer</li>
                </ul>
                <button type="submit">Comprar</button>
            </div>

            <div class="div3">
                <h5>Señor de mordor (6 meses)</h5>
                <h6>$5</h6>
                <ul>
                    <li>Sin publicidad</li>
                    <li>Sin limite de megas</li>
                    <li>Contenido anticipado</li>
                    <li>Links directos</li>
                    <li>Peticiones</li>
                    <li>Grupo de discord</li>
                    <li>Nos ayudas a crecer</li>
                </ul>
                <button type="submit">Comprar</button>
            </div>

            <div class="div4">
                <h5>Kongflix autentico (1 año)</h5>
                <h6>$5</h6>
                <ul>
                    <li>Sin publicidad</li>
                    <li>Sin limite de megas</li>
                    <li>Contenido anticipado</li>
                    <li>Links directos</li>
                    <li>Peticiones</li>
                    <li>Grupo de discord</li>
                    <li>Nos ayudas a crecer</li>
                </ul>
                <button type="submit">Comprar</button>
            </div>
           
        </section>
    </main>

    <%- include('../partials/footer')%>
    
</body>