<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://kit.fontawesome.com/d4940f2a62.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link rel="stylesheet" href="/stylesheets/vip.css" />
  </head>

  <body>
    <header>
      

        <section class="section_header">
          <h1 class="Logo"><a href="/home">Kongflix</a></h1>
          <nav class="header__nav">
            <ul class="header_ul">
                <li class="header__li"><a href="/home">Géneros</a></li>
                <li class="header__li"><a href="/home">Series</a></li>
                <li class="header__li"><a href="/home">Peliculas</a></li>
                <li class="header__li"><a href="/vip">VIP</a></li>
            </ul>
          </nav>
            <div class="buscador">
                <form action="#">
                    <input type="text" placeholder="Buscar Peliculas">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>

          <nav class="header__nav">
              <ul class="header_ul">
                  <li class="header__li"><a href="/login"><i class="fa-solid fa-user"></i></a> </li>
                  <li class="header__li"><a href="/admin"><i class="fa-solid fa-crown"></i></a></li>
              </ul>
          </nav>

        </section>


    </header>

    <main>
        <h1>Membresia Vip</h1>    
        <section class="section_vip">

            <div class="div1">
                <h5>Internauta (1 mes)</h5>
                <h6>$5</h6>
                <ul>
                    <li>Sin publicidad</li>
                    <li>Sin limite de megas</li>
                    <li>Contenido anticipado</li>
                    <li>Links directos</li>
                    <li>Peticiones</li>
                    <li>Grupo de discord</li>
                    <li>Nos ayudas a crecer</li>
                </ul>
                <button type="submit">Comprar</button>
            </div>

            <div class="div2">
                <h5>Aspirante (3 meses)</h5>
                <h6>$5</h6>
                <ul>
                    <li>Sin publicidad</li>
                    <li>Sin limite de megas</li>
                    <li>Contenido anticipado</li>
                    <li>Links directos</li>
                    <li>Peticiones</li>
                    <li>Grupo de discord</li>
                    <li>Nos ayudas a crecer</li>
                </ul>
                <button type="submit">Comprar</button>
            </div>

            <div class="div3">
                <h5>Señor de mordor (6 meses)</h5>
                <h6>$5</h6>
                <ul>
                    <li>Sin publicidad</li>
                    <li>Sin limite de megas</li>
                    <li>Contenido anticipado</li>
                    <li>Links directos</li>
                    <li>Peticiones</li>
                    <li>Grupo de discord</li>
                    <li>Nos ayudas a crecer</li>
                </ul>
                <button type="submit">Comprar</button>
            </div>

            <div class="div4">
                <h5>Kongflix autentico (1 año)</h5>
                <h6>$5</h6>
                <ul>
                    <li>Sin publicidad</li>
                    <li>Sin limite de megas</li>
                    <li>Contenido anticipado</li>
                    <li>Links directos</li>
                    <li>Peticiones</li>
                    <li>Grupo de discord</li>
                    <li>Nos ayudas a crecer</li>
                </ul>
                <button type="submit">Comprar</button>
            </div>
           
        </section>
    </main>

    <footer>

        <section class="footer_section">
          <h4>Copyright © 2025 Kongflix.com todos los derechos reservados.</h4>
          <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/home">Contacto</a></li>
            <li><a href="/home">Preguntas frecuentes</a></li>
            <li><a href="/home">Ayuda</a></li>
          </ul>
          <a href="#"><i class="fa-solid fa-arrow-up"></i></a>
          
        </section>

        
    </footer>
</body>