footer{ 
    .fa-solid{
        font-size: 2em;
        margin-bottom: 10px;
        width: 100%;
    }

}

.footer_section{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    margin-right: 15px;
    margin-left: 15px;
    padding-left: 10px;
    padding-right: 10px;

    a{
        color: black;
        margin-right: 50px;
    };
    ul{
        display: flex;
    }   
    i{
        right: 1%;   
        padding: 10px 15px;
        
        border-radius: 5px;
    }
    
}