h1{
    text-align: center;
    padding-top: 20px;
    margin-top: 0px;
}
.info_pelicula{
    display: flex;
    justify-content: space-evenly;

    a{
        color: #4163ff;
    }

    h2{
        filter: drop-shadow(2px 4px 6px rgb(248, 252, 39));
        margin: 0px;
        
    }

    
    div{
        justify-content: center;
        background-color: #424848;
        width: 70%;
        ul{
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
    }
}

.datos_pelicula{
    display: flex;
    flex-direction: column;
}