h1{
    text-align: center;
    padding-top: 20px;
    margin-top: 0px;
    font-size: 40px;
}

.section_recup{
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    
    div{
        background-color: #424848;
        width: 50%;
    }
    form{
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
        gap: 15px; 
        max-width: 300px; 
        margin: 0 auto; 
        display: flex;
        flex-direction: column;
    }
    input{
        padding: 8px 2px 8px 2px;
    }
    button{
        padding: 5px 6px 5px 6px;
        color: white;
        border: none;
        background-color: #2f00d9;
        cursor: pointer;
    }
}
    
