<footer>

    <section class="footer_section">
      <h4>Copyright © 2025 Kongflix.com todos los derechos reservados.</h4>
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Contacto</a></li>
        <li><a href="">Preguntas frecuentes</a></li>
        <li><a href="">Ayuda</a></li>
      </ul>
      <a href="#"><i class="fa-solid fa-arrow-up"></i></a>
    </section>

    
</footer>