<header>
      

    <section class="section_header">
      <h1 class="Logo"><a href="#">Kongflix</a></h1>
      <nav class="header__nav">
        <ul class="header_ul">
            <li class="header__li"><a href="/home">Géneros</a></li>
            <li class="header__li"><a href="/home">Series</a></li>
            <li class="header__li"><a href="/home">Peliculas</a></li>
            <li class="header__li"><a href="/vip">VIP</a></li>
        </ul>
      </nav>
        <div class="buscador">
            <form action="#">
                <input type="text" placeholder="Buscar Peliculas">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>

      <nav class="header__nav">
          <ul class="header_ul">
              <li class="header__li"><a href="/login"><i class="fa-solid fa-user"></i></a> </li>
              <li class="header__li"><a href="/admin"><i class="fa-solid fa-crown"></i></a></li>
          </ul>
      </nav>

    </section>
</header>