<!DOCTYPE html>
<html>
    <%- include('../partials/head', {title: 'login'})%>

  <body>
    <%- include('../partials/header')%>
    
    <main>
        <h1>Login</h1>    
        <section class="section_login">
            <div class="div1">
                <h2>Ingresa tu email o usuario para iniciar sesion</h2>
                <ul>
                    <li><a href="#"><i class="fa-brands fa-google"></i>Iniciar con tu cuenta de google</a></li>
                    <li><a href="#"><i class="fa-brands fa-facebook"></i>Iniciar con tu cuenta de facebook</a></li>
                </ul>
            </div>
            <div class="div2">
        
                <form action="/loginProcess" method="post">
                    <input type="email" name="email" placeholder="Ingresa tu email o usuario..." required>
                    <input type="password" name="password" placeholder="Ingresa tu contraseña..." required>
                    <% if (locals.error) { %>
                        <div class="alert">
                            <%= error %>
                        </div>
                        
                    <% } %>
                    <label >
                        <input type="checkbox" name="recordar">Recordar
                    </label>
                    <button type="submit">Iniciar sesión</button>
                </form>
                <a href="/recup">Olvidaste tu contraseña?</a>
                <p>No tienes cuenta?<a href="/register">Crea una</a></p>
            </div>

        </section>
    </main>

    
    
</body>