<!DOCTYPE html>
<html>
  <%- include('../partials/head', {title: 'nueva'})%>

  <body>
    <%- include('../partials/header')%>

    <main>
        <h1>Restablecer Contraseña</h1>    
        <section class="section_recup">
            <div>
                <form action="/nueva_contraseña" method="post">
                    <input type="password" name="nueva_contraseña" placeholder="Ingresa la nueva contraseña" required>
                    <input type="password" name="confirmar_contraseña" placeholder="Confirmar contraseña" required>
                    <button type="submit">Restablecer</button>
                </form>
            </div>
        </section>
    </main>

    <%- include('../partials/footer')%>
    
</body>