<!DOCTYPE html>
<html>
  <%- include('../partials/head', {title: 'recup'})%>

  <body>
    <%- include('../partials/header')%>

    <main>
        <h1>Recuperar Contraseña</h1>    
        <section class="section_recup">
            <div>
                <form action="/recup" method="post">
                    <input type="email" name="email" placeholder="Ingresa tu email" required>
                    <button type="submit">Recuperar contraseña</button>
                </form>
            </div>
        </section>
    </main>

    <%- include('../partials/footer')%>
    
</body>